{% load i18n static utils %}

<li class="card mb-3">
    <div class="card-body">
        <h2 class="card-title h3">{% icon 'user' %} {{ user.get_full_name }}</h2>
        <div>
            {% if user.email %}
                <span class="meta"><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
            {% endif %}
            {% if user.phone %}
                &middot; <span class="meta">📞 {{ user.phone }}</span>
            {% endif %}
            {% if user.office %}
                &middot; <span class="meta">{% translate 'Room' %} {{ user.office }}</span>
            {% endif %}
            {% if user.default_department %}
                &middot; <span class="meta">{{ user.default_department }}</span>
            {% endif %}
        </div>
    </div>
</li>
