{% load i18n utils %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">{% translate 'Budgets' %}</h2>
        {% if is_owner and study.ethics_confirmed %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'budgets:create' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Add budget' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        {% for budget in study.budget_set.all %}
            {% if is_owner %}
                <div class="d-print-none float-end ms-1 mb-1">
                    <a href="{% url 'budgets:update' study.pk study.short_title budget.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Update' %}</a>
                    <a href="{% url 'budgets:delete' study.pk study.short_title budget.pk %}" class="btn btn-sm btn-outline-danger">{% translate 'Delete' %}</a>
                </div>
            {% endif %}
            {% if budget.needs_approval %}
                {% if perms.budgets.approve %}
                    <div class="d-print-none float-end ms-1 mb-1">
                        <a href="{% url 'budgets:approve' study.pk study.short_title budget.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Approve' %}</a>
                    </div>
                {% endif %}
            {% endif %}
            {{ budget.expected }}&nbsp;€
            {% if budget.actual %}
                ({{ budget.actual }}&nbsp;€)
            {% endif %}
            {% if budget.approved_by %}
                <span class="badge text-bg-success">{% translate 'approved' %}</span>
            {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
        {% empty %}
            {% if study.ethics_confirmed %}
                <div class="d-block alert alert-warning">{% translate 'No budgets so far' %}</div>
            {% else %}
                <div class="d-block alert alert-danger">{% translate 'Ethics approval required' %}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
