{% extends "budgets/budget_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.expected %}
        {% bootstrap_field form.actual %}
        <div data-threshold="{{ form.threshold }}">
            {% bootstrap_field form.motivation %}
        </div>

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'budget-form.js' %}"></script>
{% endblock %}
