{% extends "budgets/budget_base.html" %}
{% load i18n django_bootstrap5 utils %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ study.title }}</h2>
            {% icon 'user' %} {{ budget.study.contact_person.get_full_name }}
            &middot; {{ study.created_at }}
            &middot; {{ budget.expected|floatformat:2 }}&nbsp;&euro;
            {% if budget.approved_by %}
                &middot; <span class="badge text-bg-success">{% translate 'approved' %}</span>
            {% endif %}
        </div>
    </div>

    {{ object.motivation|urlize|linebreaks }}

    <form class="d-print-none mb-3" method="post">
        {% csrf_token %}
        {% if object.approved_by %}
            <button class="btn btn-danger" name="approved" value="">{% translate 'Withdraw approval' %}</button>
        {% else %}
            <button class="btn btn-primary" name="approved" value="1">{% translate 'Approve' %}</button>
        {% endif %}
    </form>
{% endblock %}
