{% extends "studies/study_base.html" %}
{% load i18n %}

{% block title %}
    {% if budget %}
        {% translate "Budget" %}
    {% else %}
        {% translate "Add Budget" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if budget %}
        <li class="breadcrumb-item"><a href="{% url 'budgets:update' study.pk study.short_title budget.pk %}">{% translate 'Budget' %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'budgets:create' study.pk study.short_title %}">{% translate 'Add budget' %}</a></li>
    {% endif %}
{% endblock %}
