{% extends "base.html" %}
{% load i18n django_bootstrap5 utils %}

{% block title %}{% translate 'Budgets' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <nav aria-label="{% translate 'List' %}" class="mb-3">
        <ul class="nav nav-pills justify-content-center mb-3">
            {% for value, label in filters %}
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.filter|default:'' == value %}active{% endif %}" href="?filter={{ value }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <ul class="p-0">
        {% for budget in object_list %}
            <li class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'budgets:approve' budget.study.pk budget.study.short_title budget.pk %}" class="link-lite">{{ budget.study.title }}</a></h2>
                    {% icon 'user' %} {{ budget.study.contact_person.get_full_name }}
                    &middot; {{ budget.study.created_at }}
                    &middot; {{ budget.expected|floatformat:2 }}&nbsp;&euro;
                    {% if budget.approved_by %}
                        &middot; <span class="badge text-bg-success">{% translate 'approved' %}</span>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li class="d-block alert alert-warning">
                {% translate 'No budgets that need approval' %}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
