{% load i18n utils %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">{% translate 'Deployments' %}</h2>
        {% if is_owner %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'deployments:create' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Add deployment' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        {% for deployment in study.deployment_set.all %}
            <div class="d-print-none float-end ms-1 mb-1">
                {% if perms.deployments.approve %}
                    <a href="{% url 'deployments:deploy' study.pk study.short_title deployment.pk %}" class="btn btn-sm btn-outline-primary">
                        {% if deployment.deployed %}
                            {% translate 'Review' %}
                        {% else %}
                            {% translate 'Deploy' %}
                        {% endif %}
                    </a>
                {% endif %}
                {% if is_owner %}
                    {% if not deployment.deployed %}
                        <a href="{% url 'deployments:update' study.pk study.short_title deployment.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Update' %}</a>
                        <a href="{% url 'deployments:delete' study.pk study.short_title deployment.pk %}" class="btn btn-sm btn-outline-danger">{% translate 'Delete' %}</a>
                    {% elif not deployment.expired %}
                        <a href="{% url 'deployments:redeploy' study.pk study.short_title deployment.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Redeploy' %}</a>
                    {% endif %}
                {% endif %}
            </div>
            <dl>
                <dt>{% translate 'Status' %}</dt>
                <dd><span class="badge text-bg-{{ deployment.status_color }}">{{ deployment.status }}</span></dd>

                <dt>{{ deployment|verbose_name:'gitlab_id' }} / {{ deployment|verbose_name:'git_ref' }} / {% translate 'File' %}</dt>
                <dd>{{ deployment|display:'gitlab_id' }} / {{ deployment|display:'git_ref' }} / {{ deployment|display:'git_file' }}</dd>

                <dt>{{ deployment|verbose_name:'target' }}</dt>
                <dd><span class="badge text-bg-secondary">{{ deployment|display:'target' }}</span></dd>

                <dt>{% translate 'Deployment period' %}</dt>
                <dd>{{ deployment|display:'startdate' }} - {{ deployment|display:'enddate' }}</dd>
            </dl>
            {% if not forloop.last %}<hr>{% endif %}
        {% empty %}
            <div class="d-block alert alert-warning">{% translate 'No deployments so far' %}</div>
        {% endfor %}
    </div>
</div>
