{% extends "deployments/deployment_base.html" %}
{% load i18n static django_bootstrap5 utils %}

{% block content %}
    <form method="post"
        data-gitlab-project="{% url 'deployments:gitlab-project' study.pk study.short_title %}"
        data-gitlab-commits="{% url 'deployments:gitlab-commits' study.pk study.short_title %}"
        data-gitlab-files="{% url 'deployments:gitlab-files' study.pk study.short_title %}">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        <fieldset class="card mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label" for="id_gitlab_id">{{ object|verbose_name:'gitlab_id' }}</label>
                    <input type="number" value="{{ object.gitlab_id }}" class="form-control" id="id_gitlab_id" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_git_repo">{{ object|verbose_name:'git_repo' }}</label>
                    <input value="{{ object.git_repo }}" class="form-control-plaintext p-0" id="id_git_repo" disabled>
                </div>
                {% bootstrap_field form.git_ref %}
                {% bootstrap_field form.commit_sha %}
                {% bootstrap_field form.git_file %}
            </div>
        </fieldset>
        <div class="mb-3">
            <label class="form-label" for="id_target">{{ object|verbose_name:'target' }}</label>
            <select class="form-select" id="id_target" disabled>
                <option>{{ object.target }}</option>
            </select>
        </div>
        {% bootstrap_field form.startdate %}
        {% bootstrap_field form.enddate %}

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Redeploy' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'gitlab.js' %}" type="module"></script>
{% endblock %}
