{% extends "deployments/deployment_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
    <form method="post"
        data-gitlab-project="{% url 'deployments:gitlab-project' study.pk study.short_title %}"
        data-gitlab-commits="{% url 'deployments:gitlab-commits' study.pk study.short_title %}"
        data-gitlab-files="{% url 'deployments:gitlab-files' study.pk study.short_title %}">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        <fieldset class="card mb-3">
            <div class="card-body">
                {% bootstrap_field form.gitlab_id %}
                <div class="mb-3">
                    <label class="form-label" for="{{ form.git_repo.id_for_label }}">{{ form.git_repo.label }}</label>
                    <input name="{{ form.git_repo.name }}" class="form-control-plaintext p-0" id="{{ form.git_repo.id_for_label }}" readonly placeholder="https://" tabindex="-1">
                </div>
                {% bootstrap_field form.git_ref %}
                {% bootstrap_field form.commit_sha %}
                {% bootstrap_field form.git_file %}
            </div>
        </fieldset>
        <div class="mb-3">
            {% bootstrap_field form.target wrapper_class='' %}
            {% if not study.ethics_confirmed %}
                <div class="form-text text-danger">
                    {% translate 'Ethics approval required to access more deploy targets' %}
                </div>
            {% endif %}
        </div>
        {% bootstrap_field form.startdate %}
        {% bootstrap_field form.enddate %}

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'gitlab.js' %}" type="module"></script>
{% endblock %}
