{% extends "base.html" %}
{% load i18n django_bootstrap5 utils %}

{% block title %}{% translate 'Deployments' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <nav aria-label="{% translate 'List' %}" class="mb-3">
        <ul class="nav nav-pills justify-content-center mb-3">
            {% for value, label in filters %}
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.filter|default:'' == value %}active{% endif %}" href="?filter={{ value }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <ul class="p-0">
        {% for deployment in object_list %}
            <li class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'deployments:deploy' deployment.study.pk deployment.study.short_title deployment.pk %}" class="link-lite">{{ deployment.study.title }}</a></h2>
                    {% icon 'user' %} {{ deployment.study.contact_person.get_full_name }}
                    &middot; {{ deployment|display:'startdate' }} - {{ deployment|display:'enddate' }}
                    <span class="badge text-bg-secondary">{{ deployment|display:'target' }}</span>
                    <span class="badge text-bg-{{ deployment.status_color }}">{{ deployment.status }}</span>
                </div>
            </li>
        {% empty %}
            <li class="d-block alert alert-warning">
                {% translate 'No deployments' %}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
