{% extends "deployments/deployment_base.html" %}
{% load i18n utils %}

{% block content %}
    <table class="table">
        <tr>
            <th>{{ study|verbose_name:'contact_person' }}</th>
            <td><a href="mailto:{{ study.contact_person.email }}">{{ study.contact_person.get_full_name }}</a></td>
        </tr>
        <tr>
            <th>{% translate 'Study title' %}</th>
            <td><a href="{{ study.get_absolute_url }}">{{ study|display:'title' }}</a></td>
        </tr>
        <tr>
            <th>{% translate 'Study ID' %}</th>
            <td>{{ study }}</td>
        </tr>
        <tr>
            <th>{% translate 'Deployment ID' %}</th>
            <td>{{ object.deployment_id }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'target' }}</th>
            <td>{{ object|display:'target' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'git_file' }}</th>
            <td>{{ object|display:'git_file' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'targeturl' }}</th>
            <td>{{ object|display:'targeturl' }}</td>
        </tr>
        <tr>
            <th>{% translate 'Status' %}</th>
            <td><span class="badge text-bg-{{ object.status_color }}">{{ object.status }}</span></td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'startdate' }}</th>
            <td>{{ object|display:'startdate' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'enddate' }}</th>
            <td>{{ object|display:'enddate' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'created_at' }}</th>
            <td>{{ object|display:'created_at' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'gitlab_id' }}</th>
            <td>{{ object|display:'gitlab_id' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'git_repo' }}</th>
            <td>{{ object|display:'git_repo' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'git_ref' }}</th>
            <td>{{ object|display:'git_ref' }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose_name:'commit_sha' }}</th>
            <td>{{ object|display:'commit_sha' }}</td>
        </tr>
        <tr>
            <th>{% translate 'Generated branch' %}</th>
            <td>{{ object.generated_branch }}</td>
        </tr>
    </table>

    <h3 class="mt-5 mb-4">{% translate 'Superuser Tasks' %}</h3>

    <ol class="list-group list-group-numbered mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-3 me-auto">
                <div class="fw-bold">{% translate 'Set status to "running"' %}</div>
                <div>{% translate 'Create a protected deploy branch' %}</div>
                <div>{% translate 'Add a deploy key to the GitLab project' %}</div>
            </div>
            <div class="align-self-center">
                {% if object.deployed %}
                    {% icon 'check fa-2x' label=_('Done') %}
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" name="action" value="deploy" {% if object.rejected %}disabled{% endif %}>{% translate 'Deploy' %}</button>
                    </form>
                {% endif %}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{% translate 'Clone the code' %}</div>
                <code>git clone -b {{ object.generated_branch }} {{ object.git_repo }} {{ study }}</code>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{% translate 'Update target URL' %}</div>
                <div class="mb-3">{% translate 'Will also send a mail to' %} {{ study.contact_person.email }}</div>

                {% if object.targeturl == '' %}
                    <div class="mb-3 form-required">
                        <label for="targeturl">{% translate 'Target URL' %}</label>
                        <input id="targeturl" name="targeturl" form="targeturl_form" class="form-control" value="{{ default_target_url }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="mail_comment">{% translate 'Additional mail text' %}</label>
                        <textarea id="mail_comment" name="mail_comment" form="targeturl_form" class="form-control"></textarea>
                    </div>
                {% endif %}
            </div>
            <div class="align-self-center">
                {% if object.targeturl == '' %}
                    <form method="POST" id="targeturl_form">
                        {% csrf_token %}
                        <button class="btn btn-primary" name="action" value="targeturl" {% if object.rejected %}disabled{% endif %}>{% translate 'Submit' %}</button>
                    </form>
                {% else %}
                    {% icon 'check fa-2x' label=_('Done') %}
                {% endif %}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{% translate 'Alternatively, reject the deployment request' %}</div>
                <div>
                    {% translate 'This deployment will no longer be included in the API, even if it has been deployed before.' %}
                    {% translate 'You can still restore this deployment request afterwards.' %}
                </div>
            </div>
            <form class="align-self-center" method="POST">
                {% csrf_token %}
                {% if object.rejected %}
                    <button class="btn btn-outline-danger" name="action" value="restore">{% translate 'Restore' %}</button>
                {% else %}
                    <button class="btn btn-danger" name="action" value="reject">{% translate 'Reject' %}</button>
                {% endif %}
            </form>
        </li>
    </ol>

    <h3 class="mt-5 mb-4">{% translate 'Deployment History' %}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>{{ object|verbose_name:'created_at' }}</th>
                <th>{{ object|verbose_name:'git_ref' }}</th>
                <th>{{ object|verbose_name:'commit_sha' }}</th>
                <th>{% translate 'File' %}</th>
                <th>{% translate 'Deployment period' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in object.revisions.all reversed %}
                <tr>
                    <td>{{ revision.created_at }}</td>
                    <td>{{ revision.git_ref }}</td>
                    <td><span title="{{ revision.commit_sha }}">{{ revision.commit_sha|truncatechars:10 }}</td>
                    <td>{{ revision.git_file }}</td>
                    <td>{{ revision.startdate }} - {{ revision.enddate }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5"><em>{% translate 'Not deployed yet' %}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
