{% extends "studies/study_base.html" %}
{% load i18n %}

{% block title %}
    {% if deployment %}
        {% translate "Deployment" %}
    {% else %}
        {% translate "Add deployment" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if deployment %}
        <li class="breadcrumb-item">{% translate 'Deployment' %}</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'deployments:create' study.pk study.short_title %}">{% translate 'Add deployment' %}</a></li>
    {% endif %}
{% endblock %}
