.container {
    max-width: var(--bs-breakpoint-md, 768px);
}

.container-lg {
    max-width: var(--bs-breakpoint-lg, 992px);
}

/* work around https://github.com/twbs/bootstrap/issues/38480 */
:root,
[data-bs-theme="light"] {
    --bs-border-color: var(--bs-gray-400);
}
[data-bs-theme="dark"] {
    --bs-border-color: var(--bs-gray-700);
}

/* work around https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
    display: block !important;
}

.form-required > label::after {
    content: " *";
}

.link-lite {
    color: inherit;
    text-decoration: none;
}
.link-lite:hover {
    color: inherit;
    text-decoration: underline;
}

.badge-delete::after {
    content: "×";
    padding-left: var(--bs-badge-padding-x);
}

.icon-list i {
    min-width: 1.4em;
}

.img-icon {
    width: 1em;
    vertical-align: -0.2em;
}
.img-icon-15 {
    width: 1.5em;
    vertical-align: -0.4em;
}

.formset-item-removed .form-control,
.formset-item-removed .form-select {
    display: none;
}

@keyframes attention {
    0% { transform: scale(1) }
    10% { transform: scale(1.5) }
    20% { transform: scale(1) }
}

.animation-attention {
    animation: attention 2.5s infinite;
}

@media (prefers-reduced-motion) {
    .animation-attention {
        animation: none;
    }
}
