{% load i18n utils %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">{% translate 'Bio Samples' %}</h2>
        {% if is_owner %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'biosamples:create' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Add bio samples' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        <ul class="mb-0 p-0">
            {% for biosampleset in study.biosampleset_set.all %}
                <li class="d-block mb-3">
                    {% if is_owner %}
                        <div class="d-print-none float-end ms-1 mb-1">
                            <a href="{% url 'biosamples:update' study.pk study.short_title biosampleset.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Update' %}</a>
                            <a href="{% url 'biosamples:delete' study.pk study.short_title biosampleset.pk %}" class="btn btn-sm btn-outline-danger">{% translate 'Delete' %}</a>
                        </div>
                    {% endif %}

                    <div class="mb-2">
                        <strong>{{ biosampleset.sample_type }}</strong> × {{ biosampleset.count }}<br>
                        <span class="badge text-bg-secondary">{{ biosampleset|display:'temperature' }}</span>
                        {% if biosampleset.keep_analyzed %}
                            <span class="badge text-bg-secondary" title="{{ biosampleset|verbose_name:'keep_analyzed' }}">{% translate 'keep analyzed' %}</span>
                        {% endif %}
                        {% if biosampleset.keep_backup %}
                            <span class="badge text-bg-secondary" title="{{ biosampleset|verbose_name:'keep_backup' }}">{% translate 'keep backup' %}</span>
                        {% endif %}
                    </div>
                    <dl>
                        {% if biosampleset.processing %}
                            <dt>{{ biosampleset|verbose_name:'processing' }}</dt>
                            <dd>{{ biosampleset|display:'processing' }}</dd>
                        {% endif %}

                        {% if biosampleset.analyses %}
                            <dt>{{ biosampleset|verbose_name:'analyses' }}</dt>
                            <dd>{{ biosampleset|display:'analyses' }}</dd>
                        {% endif %}

                        <dt>{{ biosampleset|verbose_name:'laboratories' }}</dt>
                        <dd>{{ biosampleset|display:'laboratories' }}</dd>

                        <dt>{{ biosampleset|verbose_name:'date_of_disposal' }}</dt>
                        <dd>{{ biosampleset|display:'date_of_disposal' }}</dd>

                        {% if biosampleset.notes %}
                            <dt>{{ biosampleset|verbose_name:'notes' }}</dt>
                            <dd>{{ biosampleset|display:'notes' }}</dd>
                        {% endif %}
                    <dl>
                    {% if not forloop.last %}<hr>{% endif %}
                </li>
            {% empty %}
                <li class="d-block alert alert-warning">{% translate 'No bio samples so far' %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
