{% extends "studies/study_base.html" %}
{% load i18n %}

{% block title %}
    {% if biosampleset %}
        {{ biosampleset }}
    {% else %}
        {% translate "Add bio samples" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if publication %}
        <li class="breadcrumb-item"><a href="{% url 'biosamples:update' study.pk study.short_title biosampleset.pk %}">{{ biosampleset }}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'biosamples:create' study.pk study.short_title %}">{% translate 'Add bio samples' %}</a></li>
    {% endif %}
{% endblock %}
