{% extends "biosamples/biosampleset_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.sample_type %}
        {% bootstrap_field form.count %}
        {% bootstrap_field form.temperature %}
        {% bootstrap_field form.processing %}
        {% bootstrap_field form.analyses %}
        {% bootstrap_field form.laboratories %}
        {% bootstrap_field form.keep_analyzed %}
        {% bootstrap_field form.keep_backup %}
        {% bootstrap_field form.date_of_disposal %}
        {% bootstrap_field form.notes %}

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
