{% load i18n %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">{% translate 'Publications' %}</h2>
        {% if is_owner %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'publications:create' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Add publication' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        <ul class="mb-0 p-0">
            {% for publication in study.publication_set.all %}
                <li class="d-block mb-3">
                    {% if is_owner %}
                        <div class="d-print-none float-end ms-1 mb-1">
                            <a href="{% url 'publications:update' study.pk study.short_title publication.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Update' %}</a>
                            <a href="{% url 'publications:delete' study.pk study.short_title publication.pk %}" class="btn btn-sm btn-outline-danger">{% translate 'Delete' %}</a>
                        </div>
                    {% endif %}
                    {{ publication.text|urlize }}
                </li>
            {% empty %}
                <li class="d-block alert alert-warning">{% translate 'No publications so far' %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
