{% extends "studies/study_base.html" %}
{% load i18n %}

{% block title %}
    {% if publication %}
        {{ publication }}
    {% else %}
        {% translate "Add publication" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if publication %}
        <li class="breadcrumb-item"><a href="{% url 'publications:update' study.pk study.short_title publication.pk %}">{{ publication }}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'publications:create' study.pk study.short_title %}">{% translate 'Add publication' %}</a></li>
    {% endif %}
{% endblock %}
