{% extends "publications/publication_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.doi %}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.authors %}
        {% bootstrap_field form.journal %}
        {% bootstrap_field form.year %}

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'semantic-scholar.js' %}"></script>
{% endblock %}

{% block extra_connect %}https://api.semanticscholar.org{% endblock %}
