{% load i18n utils %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">{% translate 'Data sets' %}</h2>
        {% if is_owner %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'datasets:create' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Add data set' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        {% for dataset in study.dataset_set.all %}
            {% if is_owner %}
                <div class="d-print-none float-end ms-1 mb-1">
                    <a href="{% url 'datasets:update' study.pk study.short_title dataset.pk %}" class="btn btn-sm btn-outline-primary">{% translate 'Update' %}</a>
                    <a href="{% url 'datasets:delete' study.pk study.short_title dataset.pk %}" class="btn btn-sm btn-outline-danger">{% translate 'Delete' %}</a>
                </div>
            {% endif %}
            <dl>
                <dt>{{ dataset|verbose_name:'source' }}</dt>
                <dd>{{ dataset|display:'source' }}</dd>

                {% if dataset.source == dataset.SOURCE_REUSE_INTERNAL %}
                    <dt>{{ dataset|verbose_name:'reuse_study' }}</dt>
                    <dd><a href="{{ dataset.reuse_study.get_absolute_url }}">{{ dataset|display:'reuse_study' }}</a></dd>
                {% elif dataset.source == dataset.SOURCE_REUSE_EXTERNAL %}
                    <dt>{{ dataset|verbose_name:'reuse_source' }}</dt>
                    <dd>{{ dataset|display:'reuse_source'|urlize }}</dd>
                {% else %}
                    <dt>{% translate 'Collection period' %}</dt>
                    <dd>{{ dataset|display:'collection_start' }} - {{ dataset|display:'collection_end' }}</dd>

                    <dt>{{ dataset|verbose_name:'structure' }}</dt>
                    <dd>
                        {% if dataset.structure == dataset.STRUCTURE_OTHER %}
                            {{ dataset|display:'structure_documentation'|linebreaks|urlize }}
                        {% else %}
                            {{ dataset|display:'structure' }}
                        {% endif %}
                    </dd>

                    <dt>{{ dataset|verbose_name:'data_reuse' }}</dt>
                    <dd>{{ dataset|display:'data_reuse' }}</dd>

                    <dt>{{ dataset|verbose_name:'consent_location' }}</dt>
                    <dd>{{ dataset|display:'consent_location' }}</dd>
                {% endif %}
            <dl>
            {% if not forloop.last %}<hr>{% endif %}
        {% empty %}
            <div class="alert alert-warning">{% translate 'No data sets so far' %}</div>
        {% endfor %}
    </div>
</div>
