{% extends "studies/study_base.html" %}
{% load i18n %}

{% block title %}
    {% if dataset %}
        {% translate "Data set" %}
    {% else %}
        {% translate "Add data set" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if dataset %}
        <li class="breadcrumb-item"><a href="{% url 'datasets:update' study.pk study.short_title dataset.pk %}">{% translate 'Data set' %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'datasets:create' study.pk study.short_title %}">{% translate 'Add data set' %}</a></li>
    {% endif %}
{% endblock %}
