{% extends "datasets/dataset_base.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete' %} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'datasets:delete' study.pk study.short_title dataset.pk %}">{% translate 'Delete' %}</a></li>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>
            {% blocktranslate %}
                Are you sure you want to <strong>permanently delete</strong> this data set?
            {% endblocktranslate %}
        </p>
        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
