{% extends "datasets/dataset_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block content %}
    <p class="alert alert-info mb-5">{% translate 'In the interest of transparency and to enable other researchers to reuse the data from your study, please provide some additional information in the following fields.' %}</p>

    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        <div class="card mb-3">
            <div class="card-header">
                {% bootstrap_field form.source %}
            </div>
            <div class="card-body">
                <div data-source="2" {% if object.source != object.SOURCE_REUSE_INTERNAL %}hidden{% endif %}>
                    {% bootstrap_field form.reuse_study wrapper_class="mb-3 form-required" %}
                </div>
                <div data-source="3" {% if object.source != object.SOURCE_REUSE_EXTERNAL %}hidden{% endif %}>
                    {% bootstrap_field form.reuse_source wrapper_class="mb-3 form-required" %}
                </div>
                <div data-source="1" {% if object.source != object.SOURCE_NEW %}hidden{% endif %}>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% bootstrap_field form.collection_start wrapper_class="form-required" %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.collection_end wrapper_class="form-required" %}
                        </div>
                        <p class="form-text">
                            {% translate 'These dates will allow the RDM team to support you during different phases of the study life cycle.' %}
                        </p>
                    </div>
                    {% bootstrap_field form.structure wrapper_class="mb-3 form-required" %}
                    {% bootstrap_field form.structure_documentation wrapper_class="mb-3 form-required" %}
                    {% bootstrap_field form.data_reuse wrapper_class="mb-3 form-required" %}
                    {% bootstrap_field form.consent_location wrapper_class="mb-3 form-required" %}
                </div>
            </div>
        </div>

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'dataset-form.js' %}"></script>
{% endblock %}
