{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'About' %} &middot; {{ block.super }}{% endblock %}

{% block container_class %}container-lg{% endblock %}

{% block content %}
    <h1>{% translate 'Welcome to the Study Registration Portal at MPIB!' %}</h1>
    <p>{% translate 'Researchers must adhere to strict data protection regulations. At the same time, they are expected to follow Open Science and Good Scientific Practices in general. This means that the data for a publication must remain readable for ten years, but no longer. Materials needed to reproduce data must also be kept for the same period. The number of funding agencies and journals requiring adequate and traceable research data management is constantly growing.' %}</p>
    <p>{% translate 'Complying with all these rules is not always simple. This portal attempts to guide you through this process.' %}</p>

    <div class="my-5">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p>{% translate 'During registration, you provide all relevant meta data about your study. This will enable the RDM team to provide you with customized support for your data life cycle. It is also crucial for the people who will take responsibility for your study data once you leave the institute.' %}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'studies:create' %}" class="btn btn-primary d-block">{% translate 'Register study' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p>{% translate "You will soon notice that the data you entered during registration is needed in many more situations throughout the data life cycle. This tool represents a central place where you can always find this information. It is best to always keep the information up-to-date throughout the study's life time." %}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'studies:mine' %}" class="btn btn-secondary d-block">{% translate 'My Studies' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <p>{% translate 'You may wonder how colleagues from the institute have worded their consent forms or ethics applications. Similarly, you may be interested in reusing a data set with a similar paradigm. The study catalogue allows you to find relevant studies and get in touch with other researchers.' %}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'studies:list' %}" class="btn btn-secondary d-block">{% translate 'All Studies' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>{% translate 'History' %}</h2>
    <p>{% translate 'Mandatory study registration went into effect on 2023-04-17. This database therefore provides a complete record of all studies that started data collection at MPIB after that date. However, studies were also imported from the previous ARC Study Registration Tool and from Castellum, i.e., older studies are included, but data quality may differ for these.' %}</p>
{% endblock %}
