<!DOCTYPE html>
{% load i18n static django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' {% block extra_connect %}{% endblock %}; img-src 'self' data:" />
    <title>{% block title %}{% translate 'Study registration' %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'select/select.css' %}">
    {% if BOOTSTRAP_THEME_COLORS %}<link rel="stylesheet" type="text/css" href="{% url 'colors' %}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block extra_header %}{% endblock %}
</head>
<body>
    <header class="navbar navbar-expand-sm bg-black border-bottom d-print-none" data-bs-theme="dark">
        <div class="container-lg flex-column flex-md-row">
            <a href="/" rel="home" class="navbar-brand">{% translate 'Study registration' %}</a>
            <ul class="navbar-nav me-md-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="{% url 'studies:mine' %}" class="nav-link">{% translate 'My Studies' %}</a>
                </li>
                {% if perms.budgets.approve %}
                    <li class="nav-item">
                        <a href="{% url 'budget-list' %}" class="nav-link">{% translate 'Budgets' %}</a>
                    </li>
                {% endif %}
                {% if perms.deployments.approve %}
                    <li class="nav-item">
                        <a href="{% url 'deployment-list' %}" class="nav-link">{% translate 'Deployments' %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">{% translate 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">{% translate 'Contact' %}</a>
                </li>
            </ul>
            <div>
                <a href="{% url 'studies:create' %}" class="btn btn-primary ms-2">{% translate 'Register study' %}</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-secondary ms-2">{% translate 'Logout' %}</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-secondary ms-2">{% translate 'Login' %}</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% if study %}
        <nav class="d-print-none border-bottom mb-4" aria-label="{% translate 'Breadcrumbs' %}">
            <div class="container-lg">
                <ol class="breadcrumb text-secondary m-0 py-2">
                    {% block breadcrumbs %}
                        <li class="breadcrumb-item"><a href="{% url 'studies:list' %}">{% translate 'Studies' %}</a></li>
                        <li class="breadcrumb-item"><a href="{{ study.get_absolute_url }}">{{ study }}</a></li>
                    {% endblock %}
                </ol>
            </div>
        </nav>
    {% endif %}
    <main class="{% block container_class %}container{% endblock %} {% if not study %}mt-5{% endif %} py-3">
        {% for message in messages %}
            <div class="alert alert-{{ message|bootstrap_message_alert_type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    <script type="module" src="{% static 'select/tags.js' %}"></script>
    <script type="module" src="{% static 'select/select.js' %}"></script>
    <script src="{% static '@popperjs/core/dist/umd/popper-lite.min.js' %}"></script>
    <script type="module" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
