{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Contact' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="mb-5">{% translate 'Say Hello!' %}</h1>
        <p class="mb-4">{% translate 'If you need support with research data management or have issues with registering your study, please do not hesitate to contact us!' %}</p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <address class="card bg-body-tertiary">
                    <div class="card-header">Maike Kleemeyer</div>
                    <div class="card-body">
                        Research Data Management Coordinator</br>
                        Tel.: 030 82406-625<br>
                        <a href="mailto:rdm@mpib-berlin.mpg.de">rdm@mpib-berlin.mpg.de</a>
                    </div>
                </address>
            </div>
        </div>
    </div>
{% endblock %}
