{% load i18n static utils %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center position-relative">
        <h1 class="h2 m-0">{{ study.title }}</h1>
        {% if is_owner %}
            <div class="d-print-none flex-shrink-0 ms-1">
                <a href="{% url 'studies:update' study.pk study.short_title %}" class="btn btn-sm btn-primary">{% translate 'Update' %}</a>
                <a href="{% url 'studies:delete' study.pk study.short_title %}" class="btn btn-sm btn-danger">{% translate 'Delete study' %}</a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row g-5">
            <div class="col-md-8">
                <div class="mb-2">
                    {{ study|display:'affiliated_scientists' }}
                    {% if study.project %}
                        &middot; {{ study|display:'project' }}
                    {% endif %}
                    &middot; {{ study|display:'department' }}
                </div>
                {% if study.description %}
                    {{ study|display:'description'|linebreaks|urlize }}
                {% else %}
                    <p><em>{% translate 'No description yet' %}</em></p>
                {% endif %}
                <ul class="p-0">
                    {% for keyword in study.keyword_set.all %}
                        <li class="d-inline-block">
                            <a href="{% url 'studies:list' %}?keyword={{ keyword.name|iriencode }}" class="badge text-bg-light border text-decoration-none" rel="tag">{{ keyword }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <dl class="mb-0">
                    <dt>{% translate 'Study ID' %}</dt>
                    <dd>{{ study }}</dd>

                    <dt class="mt-3">{{ study|verbose_name:'created_at' }}</dt>
                    <dd>{{ study|display:'created_at' }}</dd>

                    {% if study.end %}
                        <dt class="mt-3">{{ study|verbose_name:'end' }}</dt>
                        <dd>{{ study|display:'end' }}</dd>
                    {% endif %}

                    {% if study.aliases %}
                        <dt class="mt-3">{{ study|verbose_name:'aliases' }}</dt>
                        <dd>{{ study|display:'aliases' }}</dd>
                    {% endif %}

                    <dt class="mt-3">{{ study|verbose_name:'contact_person' }}</dt>
                    <dd>
                        <a {% if study.contact_person.email %}href="mailto:{{ study.contact_person.email }}"{% endif %}>{{ study.contact_person.get_full_name }}</a>
                    </dd>

                    {% if study.storage_is_deleted %}
                        <dt class="mt-3">{{ study|verbose_name:'storage_location' }}</dt>
                        <dd class="text-secondary">{% translate 'deleted' %}</dd>
                    {% elif study.storage_is_archived %}
                        <dt class="mt-3">{{ study|verbose_name:'storage_location' }}</dt>
                        <dd class="text-secondary">
                            {% blocktranslate with name=study.get_storage_archive_name %}archived as "{{ name }}"{% endblocktranslate %}
                        </dd>
                    {% elif study.storage_location %}
                        <dt class="mt-3">{{ study|verbose_name:'storage_location' }}</dt>
                        <dd>
                            {% smb_url_or_unc study.storage_location %}
                            {% if quota %}
                                <label class="d-block text-end lh-1 my-1">
                                    <meter class="w-100" value="{{ quota.usage }}" optimum="0" low="{% widthratio quota.quota 100 75 %}" high="{% widthratio quota.quota 100 90 %}" max="{{ quota.quota }}"></meter>
                                    {{ quota.usage|format_bytes }} / {{ quota.quota|format_bytes }}
                                </label>
                                {% if study.storage_request_url %}
                                    <a class="btn btn-sm btn-outline-primary" href="{{ study.storage_request_url }}" target="_blank" referrerpolicy="same-origin">{% translate "Request more storage" %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>
                    {% elif is_owner and not study.imported_from %}
                        <dt class="mt-3">{{ study|verbose_name:'storage_location' }}</dt>
                        <dd><a href="{% url 'studies:storage' study.pk study.short_title %}" class="btn btn-outline-primary btn-sm">{% translate 'Create' %}</a></dd>
                    {% endif %}

                    <dt class="mt-3">{{ study|verbose_name:'ethics_board' }}</dt>
                    <dd>
                        {{ study|display:'ethics_board' }}
                        {% if study.ethics_confirmed %}
                            {% icon 'circle-check' label=_('Confirmed') %}
                        {% else %}
                            {% if is_owner %}
                                {% icon 'circle-exclamation text-danger animation-attention' label=_('Attention!') %}
                                <p class="form-text">{% translate 'Once you receive the ethics approval, please save the application and approval to the ethics folder at your storage location and inform us (<a href="mailto:rdm@mpib-berlin.mpg.de">rdm@mpib-berlin.mpg.de</a>). We will then confirm that your study has ethical approval.' %}</p>
                            {% endif %}
                            {% if user.is_superuser %}
                                <form method="POST" action="{% url 'studies:ethics' study.pk study.short_title %}">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-outline-primary">{% translate 'Confirm' %}</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </dd>

                    {% if study.link_set.exists %}
                        <dt class="mt-3">{% translate 'Study links' %}</dt>
                        {% for link in study.link_set.all %}
                            <dd class="icon-list {% if not forloop.last %}mb-0{% endif %}">
                                <a href="{{ link.url }}" class="text-decoration-none">
                                    {% if link.type == link.WEBSITE %}
                                        {% icon 'home' %}
                                    {% elif link.type == link.PREREG %}
                                        <i class="fa"><img src="{% static 'open-science-badges/preregistered.svg'%}" alt="" class="img-icon"></i>
                                    {% elif link.type == link.DATA %}
                                        <i class="fa"><img src="{% static 'open-science-badges/open-data.svg'%}" alt="" class="img-icon"></i>
                                    {% elif link.type == link.CODE %}
                                        <i class="fa"><img src="{% static 'open-science-badges/open-materials.svg'%}" alt="" class="img-icon"></i>
                                    {% endif %}
                                    <span class="text-decoration-underline">{{ link|display:'type' }}</span>
                                </a>
                            </dd>
                        {% endfor %}
                    {% endif %}

                    {% if study.data_reused_by.exists %}
                        <dt class="mt-3">{% translate 'Data reused by' %}</dt>
                        {% for other in study.data_reused_by %}
                            <dd class="icon-list {% if not forloop.last %}mb-0{% endif %}">
                                <a href="{{ other.get_absolute_url }}" class="text-decoration-none">
                                    <i class="fa"><img src="{% static 'reuse.svg'%}" alt="" class="img-icon"></i>
                                    <span class="text-decoration-underline">{{ other }}</span>
                                </a>
                            </dd>
                        {% endfor %}
                    {% endif %}

                    {% if user.is_staff %}
                        <dt class="mt-3">{% translate 'Follow-up' %}</dt>
                            <div class="mb-1">
                                <time>{{ study.staff_followup|date|default:'—' }}</time>
                                {% if study.staff_status %}
                                    <span class="badge text-bg-{{ study.staff_status.color }}">{{ study.staff_status.name }}</span>
                                {% endif %}
                            </div>
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'studies:staff' study.pk study.short_title %}">{% translate 'Edit' %}</a>
                        </dt>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div>
