{% load i18n static utils %}

<li class="card mb-3">
    <div class="card-body">
        <h2 class="card-title h3"><a href="{{ study.get_absolute_url }}" class="link-lite">{{ study.title }}</a></h2>
        <div class="mb-2">
            {% icon 'user' %} {{ study.contact_person.get_full_name }}
            &middot; {{ study.created_at }}
            {% if study.has_preregistration or study.has_open_data or study.has_open_materials or study.has_reuse %}
                &middot;
                {% if study.has_preregistration %}
                    <img src="{% static 'open-science-badges/preregistered.svg'%}" alt="{% translate 'preregistered' %}" title="{% translate 'preregistered' %}" class="img-icon-15">
                {% endif %}
                {% if study.has_open_data %}
                    <img src="{% static 'open-science-badges/open-data.svg'%}" alt="{% translate 'open data' %}" title="{% translate 'open data' %}" class="img-icon-15">
                {% endif %}
                {% if study.has_open_materials %}
                    <img src="{% static 'open-science-badges/open-materials.svg'%}" alt="{% translate 'open materials' %}" title="{% translate 'open materials' %}" class="img-icon-15">
                {% endif %}
                {% if study.has_reuse %}
                    <img src="{% static 'reuse.svg'%}" alt="{% translate 'data reused by other studies' %}" title="{% translate 'data reused in other studies' %}" class="img-icon-15">
                {% endif %}
            {% endif %}
        </div>
        {% for keyword in study.keyword_set.all %}
            <a href="{% url 'studies:list' %}?keyword={{ keyword.name|iriencode }}" class="badge text-bg-light border text-decoration-none" rel="tag">{{ keyword }}</a>
        {% endfor %}
    </div>
</li>
