{% extends "studies/study_base.html" %}
{% load i18n %}

{% block content %}
    <ul>
        {% for date, study, type, color in items %}
            <li>{{ date }}: <a href="{{ study.get_absolute_url }}">{{ study }}</a> <span class="badge text-bg-{{ color }}">{{ type }}</span></li>
        {% empty %}
            <li><em>{% translate 'No events' %}</em></li>
        {% endfor %}
    </ul>

    <nav class="d-flex justify-content-between mb-3" aria-label="{% translate 'Months' %}">
        {% if month > 1 %}
            <a class="btn btn-secondary" href="{% url 'studies:calendar' year month|add:'-1' %}">{% translate 'Previous month' %}</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'studies:calendar' year|add:'-1' 12 %}">{% translate 'Previous month' %}</a>
        {% endif %}

        {% if month < 12 %}
            <a class="btn btn-secondary" href="{% url 'studies:calendar' year month|add:'1' %}">{% translate 'Next month' %}</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'studies:calendar' year|add:'1' 1 %}">{% translate 'Next month' %}</a>
        {% endif %}
    </nav>
{% endblock %}
