{% extends "studies/study_base.html" %}
{% load i18n static django_bootstrap5 utils %}

{% block title %}
    {% translate "Staff Data" %} &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'studies:update' study.pk study.short_title %}">{% translate 'Staff Data' %}</a></li>
{% endblock %}

{% block content %}
    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.staff_status %}
        {% bootstrap_field form.staff_followup %}

        <div class="d-print-none mb-3">
            <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
