{% extends "studies/study_base.html" %}
{% load static i18n utils %}

{% block title %}{% translate "Creating study folder" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Creating study folder' %}</h2>
    {% if study.storage_is_deleted %}
        <p class="alert alert-info">{% translate 'Folder is already deleted' %}</p>
    {% elif study.storage_is_archived %}
        <p class="alert alert-info">{% translate 'Folder is already archived' %}</p>
    {% elif study.storage_location %}
        <p class="alert alert-info">{% translate 'Folder already exists:' %} {% smb_url_or_unc study.storage_location %}</p>
    {% else %}
        <p>{% translate 'This may take some time.' %}</p>
        <form method="POST" class="d-grid">
            {% csrf_token %}
            <svg class="progress w-100 mb-3" viewbox="0 0 100 20" preserveAspectRatio="none" hidden>
                <rect id="progress" class="text-primary" fill="currentColor" width="0" height="20" />
            </svg>
            <button class="btn btn-primary btn-lg" id="fallback">{% translate 'Create folder' %}</button>
        </form>
        <script type="module" src="{% static 'storage.js' %}"></script>
    {% endif %}
{% endblock %}
