{% extends "studies/study_base.html" %}
{% load i18n django_bootstrap5 utils %}

{% block title %}
    {% translate "Maintenance" %} &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="text-center">{% translate 'Maintenance' %}</h1>

    <nav aria-label="{% translate 'List' %}" class="mb-3">
        <ul class="nav nav-pills justify-content-center mb-3">
            {% for value, label in filters %}
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.filter|default:'end' == value %}active{% endif %}" href="?filter={{ value }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% block description %}{% endblock %}

    <ul class="p-0">
        {% for study in object_list %}
            {% include 'studies/_study_item.html' %}
        {% empty %}
            <li class="d-block alert alert-warning">
                {% translate 'No studies' %}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
