{% extends "studies/study_base.html" %}
{% load i18n %}

{% block container_class %}container-lg{% endblock %}

{% block content %}
    <div class="row g-5 mb-5">
        <div class="col-12">
            {% include 'studies/_study_detail_general.html' %}
        </div>
        <div class="col-md-6 d-flex flex-column gap-5">
            {% include 'datasets/_study_detail_datasets.html' %}
        </div>
        <div class="col-md-6 d-flex flex-column gap-5">
            {% include 'publications/_study_detail_publications.html' %}
            {% include 'biosamples/_study_detail_biosamplesets.html' %}
            {% if study.department.enable_deployments %}
                {% include 'deployments/_study_detail_deployments.html' %}
            {% endif %}
            {% if study.department.enable_budgets %}
                {% include 'budgets/_study_detail_budgets.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
