{% extends "studies/study_base.html" %}
{% load i18n static django_bootstrap5 utils %}

{% block title %}
    {% if study %}
        {% translate "Update" %}
    {% else %}
        {% translate "Register study" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if study %}
        <li class="breadcrumb-item"><a href="{% url 'studies:update' study.pk study.short_title %}">{% translate 'Update' %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'studies:create' %}">{% translate 'Create new study' %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="alert alert-info mb-5">
        <div class="d-flex align-items-center mb-4">
            <div class="flex-shrink-0">
                <span class="fa-stack fa-2x">
                    {% icon 'circle fa-stack-2x' 'regular' %}
                    {% icon 'info fa-stack-1x' %}
                </span>
            </div>
            <div class="flex-grow-1 ms-3">
                <p>{% translate 'Please create a profile for your study so other people can find all relevant information, even when you are no longer available.' %}</p>
                <p>{% translate 'This first step is about general information. Afterwards you can provide additional information, e.g. on data sets or publications. All fields can still be changed later.' %}</p>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <span class="fa-stack fa-2x">
                    {% icon 'circle fa-stack-2x' 'regular' %}
                    {% icon 'folder-tree fa-stack-1x' %}
                </span>
            </div>
            <div class="flex-grow-1 ms-3">
                {% if object.storage_location %}
                    <p>{% translate 'Your study folder is available at' %} {% smb_url_or_unc object.storage_location %}<p>
                {% else %}
                    <p>{% translate 'A study folder is automatically created when you register a study.' %}</p>
                {% endif %}
                <p>{% translate "At the end of data aquisition, the study folder should contain a usable version of the acquired data, i.e. the data is well structured, basic cleaning routines have been applied (e.g. incomplete trials removed, ID errors corrected), but no analysis steps have been conducted." %}</p>
            </div>
        </div>
    </div>

    <form method="post">
        {% include 'form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.title %}
        {% if form.short_title %}
            {% bootstrap_field form.short_title %}
        {% endif %}
        {% bootstrap_field form.aliases %}
        {% bootstrap_field form.end %}
        {% bootstrap_field form.department %}
        {% bootstrap_field form.project %}
        {% bootstrap_field form.affiliated_scientists %}
        {% bootstrap_field form.contact_person %}
        {% bootstrap_field form.owners %}
        {% bootstrap_field form.keywords %}
        {% bootstrap_field form.ethics_board %}

        <section data-formset="{{ formset.prefix }}">
            <h3 class="h6">{% translate 'Links' %}</h3>
            {{ formset.management_form }}
            {% for linkform in formset %}
                <fieldset data-formset-item>
                    <div class="row mb-3 gx-2">
                        {{ linkform.id }}
                        {% bootstrap_field linkform.type wrapper_class="col-3" show_label=False %}
                        {% bootstrap_field linkform.url wrapper_class="col" show_label=False %}
                        <div class="col flex-grow-0" data-formset-rm-wrapper>
                            <input type="checkbox" class="btn-check" id="{{ linkform.DELETE.id_for_label }}" name="{{ linkform.DELETE.html_name }}" {% if linkform.DELETE.value %}checked{% endif %} autocomplete="off">
                            <label class="btn btn-outline-danger" for="{{ linkform.DELETE.id_for_label }}">{% icon 'trash' label=_('Remove') %}</label>
                        </div>
                        {% if forloop.last %}
                            <div class="col flex-grow-0" data-formset-add-wrapper>
                                <button type="button" class="btn btn-outline-primary" data-formset-add>{% icon 'square-plus' label=_('Add') %}</button>
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
            {% endfor %}
        </section>

        {% bootstrap_field form.description %}

        <div class="d-print-none mb-3">
            {% if study %}
                <a href="{{ study.get_absolute_url }}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            {% else %}
                <a href="{% url 'studies:list' %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            {% endif %}
            <button class="btn btn-primary" data-click-load>{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'formset.js' %}" type="module"></script>
{% endblock %}
