{% extends "studies/study_base.html" %}
{% load i18n django_bootstrap5 utils %}

{% block extra_header %}
    <link rel="alternate" type="text/csv" href="{{ request.get_full_path }}{{ request.META.QUERY_STRING|yesno:'&,?' }}format=csv">
    <link rel="alternate" type="application/marc+xml" href="{{ request.get_full_path }}{{ request.META.QUERY_STRING|yesno:'&,?' }}format=mrcx">
    <link rel="alternate" type="application/rss+xml" href="{{ request.get_full_path }}{{ request.META.QUERY_STRING|yesno:'&,?' }}format=feed">
{% endblock %}

{% block content %}
    <form class="input-group mb-4">
        <input name="q" class="form-control" aria-labelledby="search-submit" type="search" value="{{ request.GET.q }}" placeholder="{% translate 'Search studies' %}" autofocus>

        {# make enter on input still submit this button instead of one from the dropdowns #}
        <button hidden></button>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filterDropdownButton" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            {% translate 'Filters' %}
        </button>
        <div class="dropdown-menu" aria-labelledby="filterDropdownButton">
            {% for key, label, choices in filters %}
                <details>
                    <summary class="dropdown-header">{{ label }}</summary>
                    <ul class="p-0">
                        <li class="d-block">
                            <button class="dropdown-item" name="{{ key }}" value="">
                                {% icon 'xmark' %}
                                {% translate 'Clear' %}
                            </button>
                        </li>
                        {% for choice, choice_label in choices %}
                            <li class="d-block"><button class="dropdown-item" name="{{ key }}" value="{{ choice }}">{{ choice_label }}</button></li>
                        {% endfor %}
                    </ul>
                </details>
                {% if not forloop.last %}
                    <hr class="dropdown-divider">
                {% endif %}
            {% endfor %}
        </div>
        <button id="search-submit" class="btn btn-secondary">{% translate 'Search' %}</button>
    </form>

    <ul class="p-0">
        {% for user in user_list %}
            {% include 'users/_user_item.html' %}
        {% endfor %}
        {% for study in object_list %}
            {% include 'studies/_study_item.html' %}
        {% empty %}
            <li class="d-block alert alert-warning">
                {% translate 'No studies' %}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
